<h2>何を出しますか？</h2>


<form action="/result" method="post">
  <button type="submit" name="throw" value="rock">ぐー</button>
  <button type="submit" name="throw" value="sissors">ちょき</button>
  <button type="submit" name="throw" value="paper">ぱー</button>
</form>